.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, auto));
    gap: 6.25rem;
    align-content: center;
}


@media (max-width: 955px)
{
    .container section > div:first-child
    {
        margin: 3rem 0 0 0;
    }

    .container section > div:last-child
    {
        margin: 0 0 3rem 0;
    }
}


@media (max-width: 455px)
{
    .container section {
        grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    }
}

